
.container{
  background-color: #ffffff;
  position: relative;
  min-height: 100vh;
  text-align: center;
  font-family: 'Lato', sans-serif;
  width: 100%;
    overflow-y: auto;
          height: 100%;
}

.big-finish-header {
  background-color: #972C34;
  color: white;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header-with-nav{
  position: fixed;
  z-index:1;
  width: 100%;
  height: 150px;
  top: 0;
  background-color: #972C34;
  color: white;
}

header > h1 {
  line-height: 0.9;
}

header > h3 {
  padding-right: 40px
}

.the {
  font-size: 4rem;
  font-stretch: extra-condensed;
  margin-left: 5px;
  margin-right: 10px
}

.big {
  font-size: 6rem;
  font-stretch: extra-expanded;
}

.finish {
  font-size: 3.2rem;
  font-weight: bolder;
  padding-left: 3px;
}

.boxset-generator {
  font-size: 2rem;
  margin-left: 10px;
}

.line {
  margin: 10px;
  font-size: 5rem;
  padding-bottom: 0.6%;
  font-weight: lighter;
}

.clear-all-button{
  margin-top: 5px;
  background-color: #972C34;
}

.randomiser {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: larger;
  padding-top: 150px;
  padding-bottom: 100px;
  justify-content: center;
  
}

.social-media-share{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  max-width: 300px;
  width: auto;
}

.social-media-share .react-share__ShareButton{
  margin: 5px;
}

.bf-aside{
  padding-top: 15%
}

img.main-char-gif,
img.support-char-gif,
img.villain-gif,
img.location-gif{
  display: block;
  max-width: 200px;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}


.big-finish-footer {
  background-color: #972C34;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 999;
}


.button{
  background-color: #972C34;
  width: 200px;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 5px;
}

.randomiser-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-character, .location, .villain, .supporting-character{
  text-align: center;
  line-height: 1.5;
}

@media only screen and (max-width: 650px) {
 header{
  height: 100px;
 }
 .ideas-are-hard{
  font-size: 18px;
 }
 .the {
font-size: medium;
padding-left: 5px;
 }
 .big{
font-size: larger;
padding-left: 2px;
 }
 .finish{
font-size: larger;
 }
 .boxset-generator{
font-size: medium;
 }
/* .bf-app-links{
  font-size: x-small;
  height: 100px;
} */
footer > h1 {
  padding-left: 5px;
}

.line {
  margin: 10px;
  font-size: 5rem;
  padding-bottom: 15px;
}
.button{
  margin: 5px;
}
li{
  font-size: 15px;
}
.fitton{
  font-size: small;
}
}

@media only screen and (max-width: 470px) {
  .ideas-are-hard{
    font-size: 10px;
   }
    header{
      font-size: 8px;
      height: 100px;
    }
    footer{
      height: 100px;
      position: absolute; 
      font-size: xx-small
    }
    .the {
      font-size: small;
      padding-left: 20px;
       }
       .big{
      font-size: medium;
      padding-left: 2px;
       }
       .finish{
      font-size: medium;
       }
       .boxset-generator{
      font-size: small;
       }
       img{
        display: block;
        max-width: 150px;
        width: auto;
        height: auto;
       }
       section {
        font-size: small;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        position: absolute;
        left: 35%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .button{
        width: 150px;
        margin: 2px;
      }
      .social-media-share .react-share__ShareButton{
        width: 10px;
        height: 10px;
        margin: 10px;
    }
      .social-media-share {
        width: 110%;
    }
    aside{
      font-size: smaller;
    }
  }
