.eurovision-bingo{
    position: relative;
    text-align: center;
  }

.wesley-snopes{
    position: relative;
    text-align: center;
  }

.big-finish-generator{
    position: relative;
    text-align: center;
  }

.button-image {
    display: block;
    min-height: 150px;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 3px;
    border-style: groove;
    width: auto;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 5px 2px 2px rgb(10,83,200);
    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
  }

.button-image:hover {
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #011346;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    text-shadow:2px 2px 2px rgb(252, 243, 3);
  }

.app-landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.app-buttons-component{
    display: flex;
    flex-direction: row;
  }
  
footer{
    background-color: blue;
    width: 100%
}

footer ul{
    display: flex;
    flex-direction: row;
}
/* footer li{
    justify-content: space-between;
} */