.app-landing-page{
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgb(52, 51, 62) 0%, rgb(31, 78, 89) 35%, rgb(47, 40, 183) 100%);
  border-radius: 2px;
  color: #ffff;
}

.page-content{
  padding-bottom: 3rem; 
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* bouncing text at bottom of file, kept separate due to size */

.app-buttons-component{
  display: flex;
  flex-direction: row;
}

.design-credit{
  text-align: center;
}

.landing-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* background-color: rgb(255, 255, 255, 0.6); */
  height: 30px;
  min-height: 3rem;
}

.landing-footer ul{
  display: flex;
  flex-direction: row;
}

.app-page-nav-links ul{
  display: flex;
  flex-direction: row;
}
/* buttons */

.eurovision-bingo{
    position: relative;
    text-align: center;
  }

.wesley-snopes{
    position: relative;
    text-align: center;
  }

.big-finish-generator{
    position: relative;
    text-align: center;
  }

.button-image {
    display: block;
    min-height: 150px;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 3px;
    border-style: groove;
    width: auto;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 5px 2px 2px rgb(10,83,200);
    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
  }

.button-image:hover {
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #011346;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    text-shadow:2px 2px 2px rgb(252, 243, 3);
  }



/* DAFT WEE APPS BOUNCE TEXT */

.bouncing-text {
  position: relative;
  display: flex;
  font-size: 70px;
  font-weight: 900;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.d, .a, .f, .t, .space, .wee-apps {
  position: relative;
  color: #4cc9f0;
  text-shadow: 0 3px #4361ee, 0 5px #4361ee, 0 7px #4361ee;
}

.d {
  animation: bounce 1s ease infinite;
  -webkit-animation: bounce 1s ease infinite;
}

.a {
  animation: bounce 1s ease infinite .1s;
  -webkit-animation: bounce 1s ease infinite .1s;
}

.f {
  animation: bounce 1s ease infinite .2s;
  -webkit-animation: bounce 1s ease infinite .2s;
}

.t {
  animation: bounce 1s ease infinite .3s;
  -webkit-animation: bounce 1s ease infinite .3s;
}

.space {
  visibility: hidden;
  width: 25px;
}

 @keyframes bounce {
        0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px); }
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);}
    }

@-webkit-keyframes bounce {
       0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px);}
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);} 
}


@keyframes scale {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0.4);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.9);}
  100% {transform: scaleX(1);}
}

@-webkit-keyframes scale {
   0% {transform: scaleX(1);}
  25% {transform: scaleX(0.4);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.9);}
  100% {transform: scaleX(1);}
}


@media only screen and (max-width: 700px) {
 
  .app-buttons-component{
    flex-direction: column;
  }

  .apps-landing-copy > p{
    font-size: 12px;
  }

  .page-content{
    overflow-y: auto;
    padding-bottom: 1.5rem;
  }
  .apps-landing-copy {
    padding: 10px;
  }
  .apps-landing-copy > p{
    font-size: 15px;
  }


  .landing-footer{
    min-height: 1.5rem;
    margin-top: 10%;
  }

  .bouncing-text {
    font-size: 50px;
    font-weight: 700;
  }

    .button-image {
    display: block;
    min-height: 100px;
    max-width: 180px;
}

.button-text {
  font-size: 18px;
}
}

@media only screen and (max-width: 600px) {

  .apps-landing-copy > p, .apps-landing-copy > aside {
    font-size: 12px;
  }

  .bouncing-text {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10%;
  }


}

@media only screen and (max-width: 470px) {
  .app-landing-page{
    overflow-y: auto;
    }

  .apps-landing-copy > p{
    font-size: 12px;
  }

  .bouncing-text {
    font-size: 40px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 400px) {

  .bouncing-text {
    font-size: 30px;
    font-weight: 500;
  }
}