* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%; 
}

.active-buttons-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: true;
  margin: 20px;
}
.eurovision-bingo-landing {
    width: 95%;
    overflow-y: auto;
          height: 95%;
    background: white;
    border-radius: 1rem;
    font-size: large;
    font-weight: bold;
    position: relative;
    padding: 20px; 
    text-align: center;
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions-ul{
    margin-top: 20px;
    font-size: xx-large;
    text-align: left;
    margin-bottom: 10px;
    list-style-type: none;
}

#euro-container {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding-top: 50px;
    background-color: white;
    overflow:scroll;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 0px;
    margin-bottom: 20px;
}

.euro-btn {
    width: 100%;
    height: 100%;
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    position: relative;
    margin: 0.1em;
    padding: 0.4em;
    border: 0;
    border-radius: 0.2em;
    background-color: #ff1361;
    color:black;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;  
}

.euro-btn.active {
    top: 2px;
    left: 1px;
    box-shadow: none;
    background-color: #231557;
    color: whitesmoke;
  }


#get-cards{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100px;
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
    position: relative;
    border-radius: 0.2em;
    border: 0;
    margin: auto;
    background-color: #fff800;
    color:black;
    text-decoration: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;  
}

#bingo{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
    position: relative;
    border-radius: 0.2em;
    border: 0;
    margin: auto;
    background-color: #fff800;
    color:black;
    text-decoration: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;  
}

.how-to-use-app{
  margin-top: 20px;
 }

.grid-item
{
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

.grid-item:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.grid-item:active {
    color: #000
}
.grid-item.active  > .euro-btn{
  top: 2px;
  left: 1px;
  box-shadow: none;
  background-color: #231557;
  color: whitesmoke;
}

.grid-item:active:after {
    background: transparent;
}

.grid-item:hover:before {
    opacity: 1;
}

.grid-item:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .animated-header{
   align-items: center;
   justify-content: center;
  }
  
  .animate-charcter
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: 95% 95%;
    background-clip: border-box;
    background-size: 50% 50%;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 120px;
        text-align: center;
  }

  .bingo-nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.6);
    height: 30px;
  }


  @media only screen and (max-width: 1000px) {
    .animate-charcter{
      text-transform: uppercase;
     background-image: linear-gradient(
       -225deg,
       #231557 0%,
       #44107a 29%,
       #ff1361 67%,
       #fff800 100%
     );
     background-size: 100% 100%;
     background-clip: border-box;
     background-size: 50% 50%;
     color: #fff;
     background-clip: text;
     text-fill-color: transparent;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 2s linear infinite;
     display: inline-block;
         font-size: 100px;
   }
  }
  @media only screen and (max-width: 700px) {
    .animate-charcter{
      text-transform: uppercase;
     background-image: linear-gradient(
       -225deg,
       #231557 0%,
       #44107a 29%,
       #ff1361 67%,
       #fff800 100%
     );
     background-size: 100% 100%;
     background-clip: border-box;
     background-size: 50% 50%;
     color: #fff;
     background-clip: text;
     text-fill-color: transparent;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 2s linear infinite;
     display: inline-block;
         font-size: 80px;
   }
   .bingo-nav{
    min-height: 30px;
    font-size: small;
  }
  }

  @media only screen and (max-width: 650px) {
    .animate-charcter{
      text-transform: uppercase;
     background-image: linear-gradient(
       -225deg,
       #231557 0%,
       #44107a 29%,
       #ff1361 67%,
       #fff800 100%
     );
     background-size: 100% 100%;
     background-clip: border-box;
     background-size: 50% 50%;
     color: #fff;
     background-clip: text;
     text-fill-color: transparent;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 2s linear infinite;
     display: inline-block;
         font-size: 60px;
         min-height: 142px;
   }
   h2{
    font-size:large;
   }
   .grid-item{
    width: auto;
   }
      .bingo-nav{
    height: 20px;
    font-size: small;
  }
}
  
  .animate-header
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: 100% 100%;
    background-clip: border-box;
    background-size: 200% 100%;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: initial;
        font-size: 140px;
  }
  

  @media only screen and (max-width: 500px) {
    .animate-header{
      text-transform: uppercase;
     background-image: linear-gradient(
       -225deg,
       #231557 0%,
       #44107a 29%,
       #ff1361 67%,
       #fff800 100%
     );
     background-size: 100% 100%;
     background-clip: border-box;
     background-size: 100% 100%;
     color: #fff;
     background-clip: text;
     text-fill-color: transparent;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 2s linear infinite;
     display: initial;
         font-size: 40px;
   }
  }
  
    @media only screen and (max-width: 410px) {
      .animated-header{
           font-size: 35px;
     }
     .animate-charcter{
        min-height: 42px;
     }
     .euro-btn{
      font-size: large;
     }
    }
  .animate-sub
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #fff800 0%,
      #ff1361 29%,
      #44107a 67%,
      #231557 100%
    );
    background-size: 100% 100%;
    background-clip: border-box;
    background-size: 50% 50%;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 72px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }