	/* .Header {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		display: block;
		font-size: 50px;
		color: #f1ebe5;
		text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
		font-weight: bold;
		letter-spacing: -4px;
		text-align: center;
		background: linear-gradient(to bottom, #053742 0%, #06333d 100%);
		position: absolute;
		padding: 100px 200px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		border-radius: 20px;
	  }
	  
	  body,html {
		height: 100%;
	  }  */

/* 
	  body {
  background: #000405;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
} */
/* p {
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
} */

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: 
      url("https://www.publicdomainpictures.net/pictures/480000/nahled/sternenhimmel-sterne-himmel-nacht-1668774086Mem.jpg");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	animation: parallax 60s ease infinite alternate;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
  }
}
@keyframes parallax {
	0% {
	  background-position: 0 0;
	}
	70% {
	  background-position: 80 200px;
	}
  }


  