App{
  top: 0;
}
.wesley-snopes-app {
  text-align: center;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
        height: 100%;
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: 'Sigmar', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#272727, #1b1b1b);
  color: black;
  display: flex;
  flex-direction: column;
}

.wesley-header{
  height: 20vh;
  top: 0;
  position: fixed;
  width: 100%;
  
}

.header-wrapper {
  display: grid;
  grid-template-areas: 'overlap';
  place-content: center;
  text-transform: uppercase;
}

.header-wrapper > div {
  background-clip: text;  
  -webkit-background-clip: text;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: clamp( 2em, 10vw, 9rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}

.main-wesley{
  padding-bottom: 2.7rem; 
  flex: 1;
  
    overflow-y: auto;
          height: 100%;
  margin-top: 26vh;
}

.i-heard{
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
  text-shadow: 2px 2px black;
  color: #ffb338;
  letter-spacing: .2rem;
  margin-bottom: 5px;
}

.user-query{
  width: 500px;
  height: 50px;
  background-color: #1b1b1b;
  color: #ffb338;
  font-weight: bold;
  font-size: larger;
}

.truth{
  background-color:#ffb338;
  color: #1b1b1b;
  font-weight: bold;
  font-size: xx-large;
  border-radius: 5px;
  box-shadow: 2px 4px #aa7012;
}

.clear-button{
  background-color:#ffb338;
  color: #1b1b1b;
}

.wesley-image-section{
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap;
  text-align: center; */
}

.wesley-image{
  /* display: block; */
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 25px;
}
.wesley-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  margin-top: 20px;
}

.interface-layout{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* header css */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}


div.bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}
div.fg{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--light-shadow) 23%, 
    var(--gold) 31%);
  color: #1e2127;
  transform: scale(1);
}
div.sh{
  font-size: larger;
  letter-spacing: .1rem;
  background-image: repeating-linear-gradient( 5deg,  
  var(--gold) 0% , 
  var(--light-shadow) 23%, 
  var(--gold) 31%);
color: #000000;
transform: scale(1);
}
div.ftr{
  font-size: larger;
  letter-spacing: .1rem;
  background-image: repeating-linear-gradient( 5deg,  
  var(--gold) 0% , 
  var(--light-shadow) 23%, 
  var(--gold) 31%);
color: #000000;
transform: scale(1);
}

div.responses{
  color: #ffb338;
  letter-spacing: .1rem;
}
div.big-response{
  font-size: x-large;
}
div.footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
input[type=text] {
  width: 40%;
  font-weight: bold;
  padding: 4px 12px;
  margin: 4px 0;
  box-sizing: border-box;
  background-color: black;
  color: #ffb338;
  font-size: medium;
}
input[type=text]:focus {
  border: 3px solid #ffb338;
}



@media only screen and (max-width: 700px) {
 
.wesley-header{
  height: 150px;
}

.main-wesley{
  font-size: 14px;
  width: auto;
  margin-top: 150px;
}
.i-heard{
  font-size: 22px;
}

.wesley-image{
  max-width: 250px;
  margin: 1px;
  width: 100%;
  object-fit: contain;
}
.truth{
  font-weight: bold;
  font-size: medium;
  border-radius: 2px;
  box-shadow: 1px 2px #aa7012;
}
footer {
  font-size: x-small;
}
div.sh{
  max-width: 500px;
  margin: 0 auto;
}
div.ftr{
  margin: 0 auto;
  font-size: 18px;
  overflow-wrap: anywhere;
}
:root {
  --gold: #ffb338;
  --light-shadow: #9d7327;
  --dark-shadow: #794f05;
}
}

