* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: skyblue;
}
.Header{
width: auto;
height: auto;
font-size: xx-large;
}

h1 {
  text-shadow: 3px 3px rgb(243, 96, 96);
  color: #fbf9f9;
  text-align: center;
}

.Footer{
  /* position: fixed;
  top: 0;
  width: 95%;
  height: auto;
  min-height: 250px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem; */
  color: #E8F0F2;
  font-size: large;
  font-weight: bold;
  /* border-radius: 2rem; */
  text-align: center;
  }

.Footer > ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  text-align: center;
  padding: 15px;
  
}

 
/* Style App.js wrapper */
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
 
/* Tab Container */
.Tabs {
  width: 95%;
  overflow-y: auto;
        height: 800px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  font-size: large;
  font-weight: bold;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
  position: relative;
}
 
/* Tab Navigation */
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
 
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
ul.nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
ul.nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
 
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
 
ul.nav li.active {
  background: #39A2DB;
}
 
/* Tab Content Styles */
.TabContent {
  font-size: 2rem;
  text-align: center;
}

a:link {
  color: skyblue;
}

a:visited {
  color: red;
}

a:hover {
  color: hotpink;
}
button {
  padding: 8px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
p {
  font-size: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 500px) {
  p {
     font-size: 16px;
  }
}
.accordion-content{
  display: flex;
  flex-direction: column;
}
